<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}"><head>
    <meta charset="utf-8"/>
    <title>Book Manager</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div align="center">
        <h1>Book List</h1>
        <br/><br/>
        <table border="1" cellpadding="10" class="table">
            <thead>
            <tr>
                <th scope="col">Book ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Customer</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="book : ${books}">
                <td th:text="${book.id}">Customer ID</td>
                <td th:text="${book.title}">Full Name</td>
                <td th:text="${book.author}">Email Address</td>
                <td th:text="${book.customer}">Age</td>
                <td><a th:href="@{'/book/edit/' + ${book.id}}">Edit</a> <a
                        th:href="@{'/book/delete/' + ${book.id}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <p><a th:href="@{/book/new}">Add New Book</a></p>
        <p><a th:href="@{/}">View Customers</a></p>
    </div>
</div>
</body>
</html>