<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Customer Manager</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div align="center">
        <h1>Customer List</h1>
        <br/><br/>
        <table border="1" cellpadding="10" class="table">
            <thead>
            <tr>
                <!--
                You are creating a table here, where the header will be the Customer
                details and then the other rows will be filled by the data that
                you send back in the Model object.
                -->
                <th scope="col">Customer ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
                <th scope="col">Book</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <!--
             Now that your headers are defined, you can reference the key-value
             pair "customerList" that you added to the model above.
             Thymeleaf will loop over each customer and extract the attributes to match
             your column names.
            -->
            <tbody>
            <tr scope="row" th:each="customer : ${customerList}">
                <td th:text="${customer.id}">Customer ID</td>
                <td th:text="${customer.fullName}">Full Name</td>
                <td th:text="${customer.emailAddress}">Email Address</td>
                <td th:text="${customer.age}">Age</td>
                <td th:text="${customer.address}">Address</td>
                <td th:text="${customer.book}">Book</td>
                <td><a th:href="@{'/edit/' + ${customer.id}}">Edit</a> |
                    <a th:href="@{'/delete/' + ${customer.id}}">Delete</a> |
                    <a th:text="${(customer.book == null) ? 'Check out book' : ''}"
                       th:href="@{'/book/assign/' + ${customer.id}}"></a>
                    <a th:text="${(customer.book != null) ? 'Return book' : ''}"
                       th:href="${(customer.book != null) ? '/book/remove/' + customer.getId() : ''}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <p><a th:href="@{/new}">Add New Customer</a></p>
        <p><a th:href="@{/book}">View Books</a></p>
    </div>
</div>
</body>
</html>