<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <h1>Salutations!</h1>
    <div sec:authorize="!isAuthenticated()">
        <p>You can <a th:href="@{/register}">register a new account</a> or <a th:href="@{/login}">login</a> to an
            existing
            one.</p>
    </div>

    <div sec:authorize="isAuthenticated()">
        <p>Logged user: <span sec:authentication="name">Bob</span></p>
        <p><a th:href="@{/logout}">Logout?</a></p>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <p><a th:href="@{/customer-list}">Customer List</a></p>
    </div>

    <div sec:authorize="hasRole('ROLE_USER')">
        <p><a th:href="@{/customer-view}">Customer View</a></p>
    </div>
</div>
</body>
</html>